.card-user {
  appearance: none;
  -webkit-appearance: none;
  width: 5rem;
  height: 7.5rem;
  font-size: 24px;
  display: inline;
  background-color: transparent;
  border: 1px solid #ba64fd;
  border-radius: 10px;
  color: white;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.card-user.selected {
  background-color: #e3a4ff;
  color: #531d8c;
  transform: translateY(-10px);
}

.card-user:hover {
  cursor: pointer;
}
