body {
  background: rgb(51, 2, 114);
  background: radial-gradient(
    circle,
    rgba(51, 2, 114, 1) 0%,
    rgba(75, 47, 113, 1) 45%,
    rgba(97, 85, 120, 1) 90%
  );
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: white;
}
