<section
  id="bodyHome"
  class="row d-flex py-5 px-2 mx-1 justify-content-center border border-white"
>
  <app-generic-button
    class="col-2 my-1 d-flex justify-content-center"
    (clickEvent)="switchWindow()"
    [buttonText]="'Crear Partida'"
  />
  <h3 class="col-8 d-flex justify-content-center">Hello {{ username }}</h3>
  <app-generic-button
    class="col-2 my-1 d-flex justify-content-center"
    (clickEvent)="logOut()"
    [buttonText]="'Log out'"
  />
</section>
@if (createWindow) {
<section class="row">
  <app-create-classroom class="section col-4"/>
</section>
}
