<section
  id="bodyHome"
  class="row py-5 px-2 d-flex justify-content-center border border-white"
>
  <div class="row d-flex justify-content-center">
    <h4 class="col-2 my-1 d-flex justify-content-center">Crear Partida</h4>
    <h3 class="col-8 d-flex justify-content-center"></h3>
    <app-generic-button
      class="col-2 my-1 d-flex justify-content-center"
      (clickEvent)="logOut()"
      [buttonText]="'Log out'"
    />
  </div>
  <section class="row d-flex justify-content-center">
    <app-create-classroom class="create-room-section col-4" />
  </section>
</section>
