<section class="row d-flex mx-1 justify-content-center border border-dark">
  <button class="col-3 my-1" (click)="switchWindow()">
    Launch party generator
  </button>
  <div class="col-1"></div>
  <h3 class="col-4 d-flex justify-content-center">Hello {{ username }}</h3>
  <div class="col-2"></div>
  <app-generic-button
      class="col-2 my-1 d-flex justify-content-center"
      (click)="logOut()"
      [buttonText]="'Log out'"
    ></app-generic-button>
</section>
<section class="row d-flex justify-content-center">
  @if (createWindow) {
  <app-create-classroom class="col-4" />
  }
</section>
