<section class="row d-flex justify-content-center">
  <div class="row col-5 my-3 d-flex justify-content-end">
    <label class="radio-label col-6 d-flex justify-content-end" for="player">
      Jugador</label
    >
    <radio-atom
      class="input-radio col-2"
      [id]="'player'"
      [condition]="'player'"
      [selectedMode]="selectedMode"
      (switchEvent)="switchRadio('player')"
    />
  </div>
  <div class="row col-7 my-3 d-flex justify-content-start">
    <label class="radio-label col-6 d-flex justify-content-end" for="spectator">
      Espectador</label
    >
    <radio-atom
      class="input-radio col-2"
      [id]="'spectator'"
      [condition]="'spectator'"
      [selectedMode]="selectedMode"
      (switchEvent)="switchRadio('spectator')"
    />
  </div>
</section>
