<app-top-module [room]="room" [selectedCard]="selectedCard" />

<app-left-module
  class="col-3 d-flex justify-content-end align-items-center"
  [room]="room"
  [selectedCard]="selectedCard"
/>

<app-table
  class="col-6 d-flex justify-content-center"
  [allPlayersSelected]="allPlayersSelected"
/>

<app-right-module
  class="col-3 d-flex justify-content-start align-items-center"
  [room]="room"
  [selectedCard]="selectedCard"
/>

<app-bottom-module [room]="room" [selectedCard]="selectedCard" />
