<app-top-module
  [room]="room"
  [roomId]="roomId"
  [selectedCard]="selectedCard"
  [votationFinished]="votationFinished"
/>

<app-left-module
  class="col-3 d-flex justify-content-end align-items-center"
  [room]="room"
  [roomId]="roomId"
  [selectedCard]="selectedCard"
  [votationFinished]="votationFinished"
/>

<app-table
  class="col-6 d-flex justify-content-center"
  [buttonText]="buttonText"
  [allPlayersSelected]="allPlayersSelected"
  [votationFinished]="votationFinished"
  (clickEventReveal)="revealClick()"
  (clickEventRestart)="restartClick()"
/>

<app-right-module
  class="col-3 d-flex justify-content-start align-items-center"
  [room]="room"
  [roomId]="roomId"
  [selectedCard]="selectedCard"
  [votationFinished]="votationFinished"
/>

<app-bottom-module
  [room]="room"
  [roomId]="roomId"
  [selectedCard]="selectedCard"
  [votationFinished]="votationFinished"
/>
