<section class="col-12 mt-4 d-flex justify-content-center">
  @if (room && room.users && room.users.length >= 2) { @if (room.users.length >=
  6) {
  <app-user-card
    class="col-1 d-flex justify-content-center"
    [cardValue]="room.users[5].username"
    [selectedCard]="room.users[5].cardSelected"
    [visualization]="room.users[5].rol"
    [votationFinished]="votationFinished"
  />
  }

  <app-user-card
    class="col-1 d-flex justify-content-center"
    [cardValue]="room.users[1].username"
    [selectedCard]="room.users[1].cardSelected"
    [visualization]="room.users[1].rol"
    [votationFinished]="votationFinished"
  />

  @if (room.users.length >= 7) {
  <app-user-card
    class="col-1 d-flex justify-content-center"
    [cardValue]="room.users[6].username"
    [selectedCard]="room.users[6].cardSelected"
    [visualization]="room.users[6].rol"
    [votationFinished]="votationFinished"
  />
  } }
</section>
