button {
    padding: 5px 15px;
    border-radius: 100px;
    border: none;
    background-color: #F6F7FC;
    color: #330072;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
button:disabled {
    background-color: #56367E;
    color: #807393;
}