@if (visualization === 'player') {
<section class="row mt-4 d-flex justify-content-center">
  <div class="col-12 d-flex justify-content-center">
    <h3
      class="col-3 d-flex justify-content-center"
      style="cursor: pointer"
      (click)="switchDisplayModes()"
    >
      👇 Elige una carta 👇
    </h3>
  </div>
  @if (scoringModeWindow) {
  <div class="row col-6 justify-content-center">
    @for (item of scoringModeOptions; track item) {
    <button-atom
      class="col-2"
      [buttonText]="item"
      [disabledState]="scoringSelection === item"
      (clickEvent)="getScoringMode(item)"
    />
    }
  </div>
  }
  <div class="col-8 d-flex justify-content-center">
    @for (item of scoringMode; track item.id) {
    <card-atom
      class="col-1 mt-4 d-flex justify-content-center"
      [cardValue]="item.value"
      [selectedCard]="selectedCard"
      (clickEvent)="onButtonClick(item.value)"
    />
    }
  </div>
</section>
}
