<section
  class="default-container py-3 px-3 row d-flex justify-content-center align-items-start"
>
  <app-navbar
    class="col-12"
    [buttonText]="'Logout'"
    [tittle]="'Crear Partida'"
    [imgUrl]="pragmaIconUrl"
    (clickEvent)="logOut()"
  />
  <form
    class="row col-3 px-2 d-flex justify-content-center"
    [formGroup]="classroomForm"
    (ngSubmit)="validateName()"
  >
    <label class="col-12 mt-2 d-flex justify-content-start" for="classroomName"
      ><h6 style="font-weight: bold">Nombra la partida</h6></label
    >
    <input
      class="col-12"
      formControlName="classroomName"
      type="text"
      id="classroomName"
      required="true"
      (input)="onInputChange()"
    />
    <p class="col-12 mt-2 d-flex justify-content-center">{{ regexMessage }}</p>
    <app-generic-button
      [ngClass]="
        !regexMessage
          ? 'col-8 mt-3 d-flex justify-content-center'
          : 'col-8 mt-1 d-flex justify-content-center'
      "
      [isSubmitType]="true"
      [disabledState]="!classroomForm.valid"
      [buttonText]="'Crear partida'"
    />
  </form>
</section>
