<section>
  <div class="blur"></div>
  <section class="row modal-section d-flex justify-content-center">
    <header class="row align-items-center align-items-center">
      <p class="col-11 d-flex justify-content-start align-items-center">
        Invitar jugadores
      </p>
      <p
        class="close-btn col-1 d-flex justify-content-end align-items-center"
        (click)="onButtonClick()"
      >
        ✖
      </p>
    </header>
    <main class="col-11 my-5">
      <app-generic-input
        [contentText]="link"
        [id]="'readUrl'"
        [type]="'text'"
        [readOnly]="true"
      />
      <app-generic-button
        class="mt-4 d-flex justify-content-center"
        [buttonText]="'Copiar link'"
        (clickEvent)="copyUrl()"
      />
    </main>
  </section>
</section>
