@if (visualization === 'player') {
<article class="row d-flex justify-content-center">
  <div
    class="card-user-player d-flex justify-content-center align-items-center"
    [class.selected]="selectedCard && !votationFinished"
  >
    @if (votationFinished) { @defer {
    {{ selectedCard }}
    } @placeholder (minimum 2s) {
    <div class="loader"></div>
    } }
  </div>
  <p class="col-12 d-flex justify-content-center">
    {{ cardValue }}
  </p>
</article>
} @else if (visualization === 'spectator') {
<article class="row d-flex justify-content-center">
  <div
    class="card-user-spectator d-flex justify-content-center align-items-center"
  >
    {{ defaultUser }}
  </div>
  <p class="col-12 d-flex justify-content-center">
    {{ cardValue }}
  </p>
</article>
} @else {
<div></div>
}
