<section
  class="row mt-3 mx-5 d-flex justify-content-evenly border rounded-4 border-white"
>
  <div class="row my-1 d-flex justify-content-center">
    <label class="col-12 mt-1 d-flex justify-content-start" for="name">
      <h6>Your name:</h6></label
    >
    <app-generic-input class="col-12" [string]="username" [id]="'name'" [type]="'text'" (message)="username = $event"></app-generic-input>
  </div>
  <div class="row my-1 d-flex justify-content-evenly">
    <label class="col-2 d-flex justify-content-center" for="player">
      Player</label
    >
    <input
      class="col-2"
      type="checkbox"
      id="player"
      (change)="switchCheckbox('player')"
      [checked]="selectedMode === 'player'"
    />
    <label class="col-3 d-flex justify-content-center" for="spectator">
      Spectator</label
    >
    <input
      class="col-2"
      type="checkbox"
      id="spectator"
      (change)="switchCheckbox('spectator')"
      [checked]="selectedMode === 'spectator'"
    />
  </div>
  <app-generic-button class="col-6 my-2 d-flex justify-content-center" (clickEvent)="continueToRoom()" [buttonText]="'Continuar'" [disabledState]="!selectedMode"></app-generic-button>
</section>
