<section
  class="row mt-3 mx-5 d-flex justify-content-evenly border rounded-4 border-white"
>
  <div class="row my-1 d-flex justify-content-center">
    <label class="col-12 mt-1 d-flex justify-content-start" for="name">
      <h6>Your name:</h6></label
    >
    <app-generic-input
      class="col-12"
      [string]="username"
      [id]="'name'"
      [type]="'text'"
      (message)="username = $event"
    />
  </div>
  <div class="row my-1 d-flex">
    <label class="col-3 d-flex justify-content-start" for="player">
      Player</label
    >
    <app-checkbox-input
      class="col-2 d-flex justify-content-center"
      [id]="'player'"
      [selectedMode]="selectedMode"
      [condition]="'player'"
      (switchEvent)="switchCheckbox('player')"
    />
    <label class="col-4 d-flex justify-content-start" for="spectator">
      Spectator</label
    >
    <app-checkbox-input
      class="col-2 d-flex justify-content-start"
      [id]="'spectator'"
      [selectedMode]="selectedMode"
      [condition]="'spectator'"
      (switchEvent)="switchCheckbox('spectator')"
    />
  </div>
  <app-generic-button
    class="col-6 my-2 d-flex justify-content-center"
    (clickEvent)="continueToRoom()"
    [buttonText]="'Continuar'"
    [disabledState]="!selectedMode"
  />
</section>
