.visualization-mode-section {
  border-radius: 15px;
  border: 1px solid #ba64fd;
  background-color: #1f0d3f;
}

.radio-label {
  font-size: 90%;
  padding-left: 2rem;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.input-radio {
  height: fit-content;
  width: fit-content;
}
