<section class="visualization-mode-section row d-flex justify-content-center">
  <div class="row mt-4 d-flex justify-content-center">
    <label class="col-12 mt-1 d-flex justify-content-start" for="name">
      <h6>Tu nombre:</h6></label
    >
    <app-generic-input
      class="col-12"
      [string]="username"
      [id]="'name'"
      [type]="'text'"
      (message)="username = $event"
    />
  </div>
  <div class="row col-5 my-3 d-flex justify-content-center">
    <label class="radio-label col-7 d-flex justify-content-end" for="player">
      Jugador</label
    >
    <app-radio-input
      class="input-radio col-4"
      [id]="'player'"
      [selectedMode]="selectedMode"
      [condition]="'player'"
      (switchEvent)="switchRadio('player')"
    />
  </div>
  <div class="row col-6 my-3  d-flex justify-content-center">
    <label class="radio-label col-6 d-flex justify-content-end" for="spectator">
      Espectador</label
    >
    <app-radio-input
      class="input-radio col-4"
      [id]="'spectator'"
      [selectedMode]="selectedMode"
      [condition]="'spectator'"
      (switchEvent)="switchRadio('spectator')"
    />
  </div>
  <app-generic-button
    class="col-6 mb-4 d-flex justify-content-center"
    (clickEvent)="continueToRoom()"
    [buttonText]="'Continuar'"
    [disabledState]="!selectedMode"
  />
</section>
