<section class="row d-flex justify-content-center">
  <h2 class="col-12 my-3 d-flex justify-content-center"><b>Register</b></h2>
  <div class="row my-1 col-7">
    <label class="col-3 d-flex justify-content-end" for="tbUsername"
      ><b>Username</b></label
    >
    <app-generic-input
      class="col-6"
      [string]="username"
      [id]="'tbUsername'"
      [type]="'text'"
      (message)="username = $event"
    />
  </div>
  <div class="row my-1 col-7">
    <label class="col-3 d-flex justify-content-end" for="tbEmail"
      ><b>Email</b></label
    >
    <app-generic-input
      class="col-6"
      [string]="email"
      [id]="'tbEmail'"
      [type]="'email'"
      (message)="email = $event"
    />
  </div>
  <div class="row my-1 col-7">
    <label class="col-3 d-flex justify-content-end" for="tbPassword"
      ><b>Password</b></label
    >
    <app-generic-input
      class="col-6"
      [string]="password"
      [id]="'tbPassword'"
      [type]="'password'"
      (message)="password = $event"
    />
  </div>
  <div class="my-1 col-7 d-flex justify-content-center">
    <app-generic-button
      class="col-6 my-2 d-flex justify-content-center"
      (clickEvent)="onButtonClick()"
      [buttonText]="'Register'"
      [disabledState]="!email || !password || !username"
    />
  </div>
</section>
