<section class="row d-flex justify-content-center">
  <h2 class="col-12 my-3 d-flex justify-content-center">Register</h2>
  <div class="row my-1 col-7">
    <label class="col-3 d-flex justify-content-end" for="tbUsername"
      >Username</label
    >
    <input-atom
      class="col-6"
      [id]="'tbUsername'"
      [type]="'text'"
      [contentText]="username"
      (InputChange)="username = $event"
      (InputChange)="onInputChange()"
    />
  </div>
  <div class="row my-1 col-7">
    <label class="col-3 d-flex justify-content-end" for="tbEmail">Email</label>
    <input-atom
      class="col-6"
      [id]="'tbEmail'"
      [type]="'email'"
      [contentText]="email"
      (InputChange)="email = $event"
      (InputChange)="onInputChange()"
    />
  </div>
  <div class="row my-1 col-7">
    <label class="col-3 d-flex justify-content-end" for="tbPassword"
      >Password</label
    >
    <input-atom
      class="col-6"
      [id]="'tbPassword'"
      [type]="'password'"
      [contentText]="password"
      (InputChange)="password = $event"
      (InputChange)="onInputChange()"
    />
  </div>
  <div class="my-1 col-7 d-flex justify-content-center">
    <button-atom
      class="col-6 my-2 d-flex justify-content-center"
      [buttonText]="'Register'"
      [disabledState]="!email || !password || !username"
      (clickEvent)="onButtonClick()"
    />
  </div>
</section>
