<section>
  <div class="blur"></div>
  <section
    class="section visualization-mode-section row d-flex justify-content-center"
  >
    <div class="row col-9 mt-5 d-flex justify-content-center">
      <label class="col-12 mt-1 d-flex justify-content-start" for="name">
        <h6>Tu nombre:</h6></label
      >
      <app-generic-input
        class="col-12"
        [contentText]="username"
        [id]="'name'"
        [type]="'text'"
        (InputChange)="username = $event"
      />
    </div>
    <app-radio-buttons-menu (changeEvent)="switchRadio($event)" />
    <app-generic-button
      class="col-6 mb-4 d-flex justify-content-center"
      (clickEvent)="continueToRoom()"
      [buttonText]="'Continuar'"
      [disabledState]="!selectedMode"
    />
  </section>
</section>
