<section class="row px-2 d-flex justify-content-center">
  <label class="col-12 mt-2 d-flex justify-content-start" for="partyName"
    ><h6><b>Nombra la partida</b></h6></label
  >
  <app-generic-input
    class="col-12"
    [string]="partyName"
    [id]="'partyName'"
    [type]="'text'"
    (message)="partyName = $event"
  />
  <app-generic-button
    class="col-8 mt-4  d-flex justify-content-center"
    (clickEvent)="validateName()"
    [buttonText]="'Crear partida'"
    [disabledState]="!partyName"
  />
</section>