<section
  class="voting-table row col-12 d-flex justify-content-center align-items-center"
>
  @if (allPlayersSelected && !votationFinished) {
  <button-atom
    class="button-reveal col-4 d-flex justify-content-center"
    [type]="'variation'"
    [buttonText]="buttonText"
    (clickEvent)="revealClick()"
  />
  } @else if (votationFinished) { @defer {
  <button-atom
    class="button-reveal col-4 d-flex justify-content-center"
    [type]="'variation'"
    [buttonText]="'Nueva votación'"
    (clickEvent)="restartClick()"
  />
  } @placeholder (minimum 2s) {
  <div class="button-reveal loader col-4 d-flex justify-content-center"></div>
  } }
  <div class="table first"></div>
  <div class="table second"></div>
  <div class="table third"></div>
</section>
