<section class="row d-flex align-items-center">
  <app-generic-image
    [ngClass]="[
      'd-flex justify-content-end',
      buttonText && !roomId ? 'col-1' : 'col-2'
    ]"
    [imgUrl]="imgUrl"
    [imgAlt]="'Pragma Icon'"
    [imgWidth]="'120'"
    [imgHeight]="'100'"
  />
  @if (roomId && buttonText) {
  <div class="col-2"></div>
  <h2 class="col-4 d-flex justify-content-center">{{ roomId }}</h2>
  <div class="col-4 row d-flex justify-content-end align-items-center">
    <div class="col-6 card-user d-flex justify-content-end align-items-center">
      <p>{{ username }}</p>
    </div>
    <app-generic-button
      class="col-6 d-flex justify-content-start"
      [type]="'invitation'"
      [buttonText]="buttonText"
      (clickEvent)="onButtonClick()"
    />
  </div>

  } @else if (!roomId) {
  <h2
    [ngClass]="['d-flex justify-content-start', buttonText ? 'col-5' : 'col-4']"
  >
    {{ tittle }}
  </h2>
  @if (buttonText) {
  <app-generic-button
    class="col-6 my-1 d-flex justify-content-end"
    [buttonText]="buttonText"
    (clickEvent)="onButtonClick()"
  />
  } }
</section>
