<section class="default-container row py-5 px-1 d-flex justify-content-center">
  <app-navbar
    class="navbar-login"
    [tittle]="'Pragma'"
    [imgUrl]="pragmaIconUrl"
  />
  <form
    [formGroup]="userForm"
    (ngSubmit)="isLogin ? validateUser() : createUser()"
    class="row d-flex justify-content-center"
  >
    <h1 class="col-12 my-3 d-flex justify-content-center">{{ tittle }}</h1>
    <p *ngIf="regexMessage" class="col-12 d-flex justify-content-center">
      {{ regexMessage }}
    </p>
    @if (!isLogin) {
    <div class="row my-1 col-7 align-items-center justify-content-center">
      <label class="col-1 d-flex justify-content-end" for="tbUsername"
        >Username</label
      >
      <input-atom
        class="col-6"
        [id]="'tbUsername'"
        [type]="'text'"
        (InputChange)="onUsernameChange($event)"
      />
    </div>
    }
    <div class="row my-1 col-7 align-items-center justify-content-center">
      <label class="col-1 d-flex justify-content-end" for="tbEmail"
        >Email</label
      >
      <input-atom
        class="col-6"
        [id]="'tbEmail'"
        [type]="'email'"
        (InputChange)="onEmailChange($event)"
      />
    </div>
    <div class="row my-1 col-7 align-items-center justify-content-center">
      <label class="col-1 d-flex justify-content-end" for="tbPassword"
        >Password</label
      >
      <input-atom
        class="col-6"
        [id]="'tbPassword'"
        [type]="'password'"
        (InputChange)="onPasswordChange($event)"
      />
    </div>
    <div class="my-1 col-7 d-flex justify-content-center">
      <button-atom
        class="col-6 my-2 d-flex justify-content-center"
        [isSubmitType]="true"
        [disabledState]="!userForm.valid"
        [buttonText]="isLogin ? 'Login' : 'Register'"
      />
    </div>
  </form>
  <a
    *ngIf="!isLogin"
    class="col-1 mt-3 d-flex justify-content-center"
    routerLink="/login"
    >Login</a
  >
  <a
    *ngIf="isLogin"
    class="col-1 mt-3 d-flex justify-content-center"
    routerLink="/register"
    >Register</a
  >
</section>
