<section class="col-12 mt-3 d-flex justify-content-center">
  @if (room && room.users && room.users.length >= 1) { @if (room.users.length >=
  5) {
  <app-user-card
    class="col-1 d-flex justify-content-center"
    [cardValue]="room.users[4].username"
    [selectedCard]="room.users[4].cardSelected"
    [visualization]="room.users[4].rol"
    [votationFinished]="votationFinished"
  />
  }

  <app-user-card
    class="col-1 d-flex justify-content-center"
    [cardValue]="room!.users[0]!.username!"
    [selectedCard]="selectedCard"
    [visualization]="room!.users[0]!.rol!"
    [votationFinished]="votationFinished"
  />

  @if (room.users.length >= 8) {
  <app-user-card
    class="col-1 d-flex justify-content-center"
    [cardValue]="room.users[7].username"
    [selectedCard]="room.users[7].cardSelected"
    [visualization]="room.users[7].rol"
    [votationFinished]="votationFinished"
  />
  } }
</section>
