<section
  class="classroom-container row py-5 px-1 d-flex justify-content-center"
>
  @if (configurationWindow) {
  <app-create-visualization-mode
    class="col-3"
    (roomGeneratedEvent)="getUserVisualizationMode()"
    (roomGeneratedEvent)="users()"
    (roomGeneratedEvent)="configurationWindow = !configurationWindow"
    [classroomId]="roomId"
  />
  }
  <h1 class="col-12 d-flex justify-content-center">{{ roomId }}</h1>
  <app-users-table-menu
    class="row"
    [room]="room"
    [selectedCard]="selectedCard"
  />
  <app-card-menu
    (clickEvent)="selectCard($event)"
    [visualization]="visualization"
    [selectedCard]="selectedCard"
    [scoringMode]="scoringMode"
  />
  <section class="row mt-5 d-flex justify-content-center">
    <a class="col-2 d-flex justify-content-center" routerLink="/"
      >Abandonar la Sala</a
    >
  </section>
</section>
