<section
  class="classroom-container row py-5 px-1 d-flex justify-content-center"
>
  @if (configurationWindow) {
  <section class="row d-flex justify-content-center">
    <div class="blur"></div>
    <app-create-visualization-mode
      class="section col-3"
      (roomGeneratedEvent)="users()"
      (roomGeneratedEvent)="validateAdminUser()"
      (roomGeneratedEvent)="getUserVisualizationMode()"
      (roomGeneratedEvent)="configurationWindow = !configurationWindow"
      [classroomId]="roomId"
    />
  </section>
  }
  <h1 class="col-12 d-flex justify-content-center">{{ roomId }}</h1>
  <section class="col-12 mt-5 d-flex justify-content-center">
    @for (item of room?.users?.slice(3, 6); track item.id) {
    <app-user-card
      class="col-1 d-flex justify-content-center"
      [cardValue]="item.username"
      [selectedCard]="item.cardSelected"
      [visualization]="item.rol"
    />
    }
  </section>
  <section class="col-3 d-flex justify-content-end align-items-center">
    @for (item of room?.users?.slice(6, 7); track item.id) {
    <app-user-card
      class="col-1 d-flex justify-content-center"
      [cardValue]="item.username"
      [selectedCard]="item.cardSelected"
      [visualization]="item.rol"
    />
    }
  </section>

  <app-table class="col-6 d-flex justify-content-center" />

  <section class="col-3 d-flex justify-content-start align-items-center">
    @for (item of room?.users?.slice(7, 8); track item.id) {
    <app-user-card
      class="col-1 d-flex justify-content-center"
      [cardValue]="item.username"
      [selectedCard]="item.cardSelected"
      [visualization]="item.rol"
    />
    }
  </section>
  <section class="col-12 mt-3 d-flex justify-content-center">
    @for (item of room?.users?.slice(1, 3); track item.id) {
    <app-user-card
      class="col-1 d-flex justify-content-center"
      [cardValue]="item.username"
      [selectedCard]="item.cardSelected"
      [visualization]="item.rol"
    />
    } @if (room) {
    <app-user-card
      class="col-1 d-flex justify-content-center"
      [cardValue]="room!.users[0]!.username!"
      [selectedCard]="selectedCard"
      [visualization]="room!.users[0]!.rol!"
    />
    } @else {
      <app-user-card
      class="col-1 d-flex justify-content-center"
      [cardValue]="'default'"
      [selectedCard]="'default'"
      [visualization]="'default'"
    />
    }
  </section>
  <section class="row mt-4 d-flex justify-content-center">
    @if (visualization === 'player') {
    <h3 class="col-12 d-flex justify-content-center">👇 Elige una carta 👇</h3>
    <article class="col-8 d-flex justify-content-center">
      @for (item of scoringMode; track item.id) {
      <app-card
        class="col-1 mt-4"
        [cardValue]="item.value"
        (clickEvent)="selectCard(item.value)"
        [selectedCard]="selectedCard"
      />
      }
    </article>
    }
  </section>
  <section class="row mt-5 d-flex justify-content-center">
    <a class="col-2 d-flex justify-content-center" routerLink="/"
      >Abandonar la Sala</a
    >
  </section>
</section>
